body{
  background-color: seashell;
}
.content {
  display: flex;
  flex:1;
  }
  .main{
    width: 80%;
  }
  .sidebar{
    padding: 1rem;
    background-color: aqua;
    min-width: 20%;
  }
.navigation ul{
  display: flex;
  flex:1;
}
.navigation li{
  width: 200px;
}
.img{
  size: 25%;
}